.ui.mainButton.button {
  background-color: #ff6f61;
  color: #fff;
}

.ui.mainButton.button:hover {
  background-color: #fc5849;
  color: #fff;
}

.ui.mainBasicButton.button {
  background-color: #fff;
  color: #ff6f61;
  border: 1px solid;
}

.ui.mainBasicButton.button:hover {
  background-color: rgb(249, 249, 249);
  color: #fc5849;
}

.ui.attached.menu.withButton a:last-child {
  display: 'block';
  margin-left: auto;
}
