.headerLogo {
  width: 200px;
  padding-top: 150px;
  padding-bottom: 20px;
}

.headerSmallLogo {
  height: 30px;
}

.searchBox {
  width: 400px;
  margin: auto;
}
.miniSearchBox {
  width: 200px;
}

.disabledHeader {
  display: none;
}
