.rememberMe {
  float: left;
}

.forgetPassword {
  display: inline-block;
  float: right;
}

.halfLeft {
  height: 100vh;
  /* background-color: #feab92; */
  text-align: center;
}

.halfRight {
  height: 100vh;
  /* background-color: #ff6f61; */
  text-align: center;
  /* color: #fff; */
}

.loginBlock {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
}

.previewBlock {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
