.rememberMe {
  float: left;
}

.forgetPassword {
  display: inline-block;
  float: right;
}

.previewBlock {
  height: 600px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.verticalCenter {
  text-align: center;
}
